section#login-modal, #sign-modal {
    margin-bottom: 200px;
    margin-left: 100px;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 70%;
    background-color: #ffffff20;
    backdrop-filter: blur(.3rem);
    z-index: 2000;
    margin-left: 200px;
}

.modal-container {
    display: flex;
    flex-direction: row;
}

.left-img {
    width: 25%;
    background-image: url("https://w0.peakpx.com/wallpaper/683/137/HD-wallpaper-material-design-0224-abstract-blue-colors-digital-gradient-modern-orange-stripes-thumbnail.jpg");
    background-size: cover;
}

.login-container {
    padding: 30px;
    width: 100%;
    background-color: white;
}

.sign-container {
    padding: 24px;
    width: 100%;
    background-color: white;
}

button#close-login, button#close-sign {
    float: right;
    background-color: white;
    border: none;
    font-size: 30px;
    font-weight: lighter;
}

.login-title {
    margin: 0px 0 35px;
}

.sign-title {
    margin: 0px 0 18px;
}

p.log-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.login-ways-btn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 185px;
}

.sign-ways-btn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 158px;
}

button.way-btn {
    height: 45px;
    width: 270px;
    margin-bottom: 10px;
    background-color: white;
    border: 1px solid grey;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.hr-design {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    color: #c1c1c1;
}

.hr-design-sign {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color: #c1c1c1;
}

hr {
    width: 100px;
    margin-right: 20px;
}

.login-btns {
    display: flex;
    flex-direction: column;
    width: 204px;
}

input {
    height: 41px;
    width: 250px;
    padding: 15px;
    border: 1px solid gainsboro;
    margin-bottom: 10px;
}

input:focus{
    outline: none;
}

button#login, button#sign-btn {
    height: 40px;
    width: 250px;
    background-color: var(--blue);
    border: none;
    border-radius: 20px;
    margin-top: 15px;
    color: white;
    font-size: 16px;
    margin-bottom: 10px;
}

button#sign-btn{
    margin-top: 4px;
    margin-bottom: 7px;
}

button:hover{
    cursor: pointer;
}

p.forget {
    font-size: 12px;
    margin-bottom: 30px;
}

p.forget-sign {
    font-size: 12px;
    margin-bottom: 20px;
}

p.newToReddit {
    font-size: 13px;
    margin-bottom: 50px;
}

span:hover{
    cursor: pointer;
}