@import url('https://fonts.googleapis.com/css2?family=Cairo&family=IBM+Plex+Sans:wght@500&family=Courgette&family=Poppins:wght@200;300;400&family=Roboto&family=Roboto+Slab&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Poppins', 'Courier New', Courier, monospace;
}

:root{
    --orange: #ff4500;
    --blue: #1484d6;
    --light-blue: #dae0e6;
    --grey: #a6a9aa;
    --dark-grey: #878a8c;
}

body{
    background-color: var(--light-blue);
}

/* Start Styling Header */
nav {
    display: flex;
    padding: 10px;
    align-items: center;
    height: 35px;
    background-color: white;
    position: fixed;
    z-index: 1000;
    width: 100%;
}

a{
    text-decoration: none;
}

.logo-name {
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 20px;
}

img.logo {
    height: 40px;
    margin-right: 10px;
}

h2.site-name {
    font-size: 19px;
    font-weight: 600;
}

.search-container {
    display: flex;
    align-items: center;
    margin-bottom: 9px;
    margin-right: 146px;
}

#special{
    margin-top: 9px;
}

#special2{
    margin-top: 0px;
}

p#username {
    margin-right: 50px;
}

button.btn.search-btn {
    position: absolute;
    font-size: 20px;
    color: var(--dark-grey);
    border: none;
    margin-left: 16px;
    background-color: #dfdfdf12;
    margin-top: 8px;
}


input.search-input {
    padding: 6px 10px 6px 53px;
    font-size: 16px;
    width: 600px;
    background-color: #dfdfdf30;
    border: 1px solid #e3dddd;
    border-radius: 3px;
    margin-top: 10px;
}

input.search-input:focus, input.search-input:hover  {
    background-color: white;
    outline: 1px solid var(--blue);
}

button.btn.search-btn:focus, button.btn.search-btn:hover{
    background-color: white;
}

button.log-in {
    border: 1px solid var(--blue);
    background-color: white;
    color: var(--blue);
    padding: 1px 30px;
    border-radius: 30px;
    font-size: 18px;
}

button#log-out-btn {
    color: var(--blue);
    border: none;
    font-size: 36px;
}

img.profile-img {
    border-radius: 50%;
    height: 45px;
    margin-right: 5px;
}

button.log-in:hover{
    background-color: #f3f3f3c7;
}

button.sign-up {
    border: none;
    background-color: var(--blue);
    color: white;
    padding: 3px 25px;
    border-radius: 30px;
    font-size: 18px;
    margin-left: 13px;
}

.user-profile {
    display: flex;
    align-items: center;
    padding: 6px 14px;
    gap: 6px;
    font-size: 23px;
    color: var(--dark-grey);
}

.user-profile:hover {
    transform: scale(1.03);
    cursor: pointer;
}
/* End Styling Header */

/* Start Styling Trending Section */
section.trending {
    padding: 10px 12%;
}

p.trend-section-title {
    color: #665e5e;
    margin: 10px;
    margin-top: 55px;
}

.trend-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 18px;
}

.trend-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 190px;
    position: relative;
    border-radius: 12px;
}

#trend1{
    background-image: url('https://www.reuters.com/resizer/Mgqret9qfgkZ4psni1pELqHx_IQ=/960x0/filters:quality(80)/cloudfront-us-east-2.images.arcpublishing.com/reuters/TR22RGDOFJLRZJHMHUWCMOPHQU.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#trend2{
    background-image: url('https://lh3.googleusercontent.com/proxy/ugF4u0AM9omVjIDKZC-gAXFF15kI3BxmQkm6-Say7c65QzFNA17sYM7EEcvGRoHW9l9K1kUYQhXCBX_nDtc2soC4lOkZd5iLJlkEDPOUpd6rCD3i96DWYM4Q920iAkaUUgYjwZYQXn2xAMS8=s0-w350-h175-rw-dcpVCamKQI');
    background-repeat: no-repeat;
    background-size: cover;
}

#trend3{
    background-image: url('https://ichef.bbci.co.uk/news/1024/branded_arabic/AC46/production/_126620144_52339913830_e5f2688867_b.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#trend4{
    background-image: url('https://data.arab48.com/data/news/2022/09/06/Croped/20220906114626.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.trend-card:hover{
    cursor: pointer;
    box-shadow: 0 0 1px 1px rgba(240, 190, 99, 0.692);
    transform: scale(1.01)
}

.trend-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    height: 100%;
    color: white;
    background-color: #80808063;
    padding: 7px;
    font-size: 16px;
    backdrop-filter: blur(1px);
    border-radius: 12px;

}

p.trend-title {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}

p.trend-desc {
    font-size: 13px;
}
/* End Styling Trending Section */

/* Start Styling Top Gaming Section */
main {
    display: flex;
    padding: 10px 12%;
}

section.posts {
    width: 70%;
}

section.top {
    width: 35%;
    border-radius: 5px;
    margin-top: 39px;
}

.top-container-first {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: white;
    border-radius: 10px;
}

.top-container {
    display: flex;
    height: 110px;
    align-items: flex-end;
    background-image: url('https://preview.redd.it/2y2pftyz87981.png?auto=webp&s=8acec587a92c90b11b82551ecbfa8e4eff4d3723');
    width: 100%;
    color: white;
    font-weight: bold;
    font-size: 14px;
    border-radius: 5px 5px 0px 0px;
}

p.top-title {
    margin-left: 20px;
    margin-bottom: 10px;
}

p.communities-title {
    margin-left: 10px;
    margin-bottom: 10px;
}

p.gaming-title {
    margin-bottom: 10px;
    margin-left: 10px;
}

.top-list-container {
    padding: 10px;
    width: 95%;
}

ul.top-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

li.top-list-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.top-list-item-container {
    width: 100%;
    gap: 11px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

p.top-number {
    font-weight: bold;
    margin-left: 5px;
}

i.fa.fa-angle-up.top-icon {
    font-weight: bold;
    font-weight: bolder;
    font-size: 17px;
    color: #75d575;
}

img.top-img {
    height: 40px;
}

p.top-name {
    font-size: 14px;
    font-weight: light;
}

button.join-btn {
    border: none;
    background-color: var(--blue);
    color: white;
    border-radius: 15px;
    padding: 3px 19px;
}

button.view-all {
    width: 100%;
    padding: 4px;
    border: none;
    background-color: var(--blue);
    color: white;
    border-radius: 16px;
    margin: 16px 0px;
    font-size: 16px;
}

ul.top-list-down {
    list-style: none;
    color: var(--blue);
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    font-size: 14px;
}

li.top-list-down-item {
    background-color: #8080801a;
    padding: 7px 9px;
    border-radius: 17px;
}
/* End Styling Top Gaming Section */

/* Start Styling Popular Posts */

section.posts {
    width: 70%;
    margin-right: 35px;
}

p.popular-title {
    margin: 5px 11px 10px;
    color: #665e5e;
    font-size: 17px;
}

.popular-container {
    background-color: white;
    border-radius: 5px;
    padding: 16px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul.popular-list {
    list-style: none;
    display: flex;
    gap: 25px;
}

li.popular-item {
    padding: 5px 9px;
    background-color: #8080801f;
    border-radius: 31px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.right-icons {
    font-size: 20px;
    gap: 9px;
    display: flex;
    color: #665e5e;
    padding: 5px 9px;

}

.right-icons:hover{
    cursor: pointer;
    background-color: #8080801f;
    color: #665e5e; 
    font-weight: bold;
    border-radius: 31px;
}

.customize{
    padding: 5px 9px;
    border-radius: 31px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #665e5e; 
    background-color: #fff; 
    font-weight: bold;
}

.customize:hover{
    cursor: pointer;
    background-color: #8080801f;
    color: #665e5e; 
    font-weight: bold;
    border-radius: 31px;
}

li:hover{
    cursor: pointer;
}

/* End Styling Popular Posts */

/* Start Styling Details Container */
.details-container {
    background-color: white;
    margin-top: 45px;
    border-radius: 10px;
    padding: 20px 0px 0px;
}

ul.details-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 26px;
}

li.details-item{
    border-bottom: 1px solid #80808038;
    padding: 4px 22px;
}

i.details-icon{
    font-size: 20px;
    font-weight: bold;
    margin-left: 90px;
    color: #665e5ed5;
    float: right;
}

ul.show-list {
    display: flex;
    flex-wrap: wrap;
    padding: 15px 15px 0;
    list-style: none;
    gap: 12px;
}
.show-container{
    display: none;
}
/* .none{
    display: block;
} */
/* End Styling Details Container */

/* Start Styling Post Container */
.posts-container {
    margin-top: 40px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.post {
    display: flex;
    background-color: white;
    border: 1px solid #8080806e;
}

.votes-section {
    background-color: #8080801f;
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 25px;
}

i.fa.vote-icon {
    font-size: 20px;
    color: #6260608c;
    padding: 3px;
}

.vote-icon:hover{
    color: #ff4304 !important;
    transform: scale(1.08);
}

p.votes {
    font-weight: lighter;
    margin: 20px;
}

.post-content {
    display: flex;
    flex-direction: column;
    gap: 14px;
    width: 100%;
}

.user-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 10px;
}

.user-left {
    display: flex;
    align-items: center;
}

.user-right {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

img.user-avatar {
    height: 37px;
    border-radius: 50%;
}

p.user-name {
    color: #808080ba;
}

p.user-name:hover {
    color: #ff4304;
    font-weight: bold;
}

.user-date {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

ul.li-user-icons {
    list-style: none;
    display: flex;
    gap: 19px;
    color: #808080;
    font-size: 20px;
    margin-right: 10px;
}

p.date {
    font-size: 11px;
    color: #808080ba;
}

.user-content {
    padding: 0px 15px;
    font-weight: bold;
}

.post-icons {
    padding: 10px 0px 12px 14px;
}

ul.post-icons-list {
    display: flex;
    list-style: none;
    gap: 26px;
    align-items: center;
    padding: 0px 10px 0px 0px;
    color: #808080;
}

.post-icons-item{
    display: flex;
    padding: 4px 14px;
    align-items: center;
    flex-direction: row-reverse;
    gap: 7px
}

.post-icons-item:hover{
    cursor: pointer;
    transform: scale(1.05);
    color: #ff4304;
}

.comment {
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 10px;
    padding-left: 15px;
    border: 1px solid #8080806e;
}

img.comment-logo {
    height: 35px;
    margin-right: 35px;
}

p.comment-content {
    font-size: 14px;
}

.post-comments {
    margin-bottom: 40px;
}

.post-comments:hover {
    box-shadow: 6px -4px 10px 0px #ffa5008c;
}

/* End Styling Post Container */

/* Start Styling Footer */
.footer-section {
    background-color: white;
    border-radius: 5px;
    margin-top: 50px;
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

ul.footer-list-first {
    font-size: 14px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
    border-bottom: 1px solid grey;
    padding-bottom: 12px;
}

li.first-lis {
    gap: 21px;
}

ul.footer-second-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    font-size: 14px;
}
/* End Styling Footer */

/* Start Styling Create post */
.create-post {
    background-color: white;
    margin-top: 30px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border: 1px solid #80808075;
    justify-content: space-between;
}

img.create-img {
    height: 50px;
}

input.post-text {
    width: 437px;
    height: 47px;
    padding-left: 20px;
}

input.post-text:focus{
    outline: 1px solid var(--blue);
    border: none;
}

i.create-icon {
    font-size: 22px !important;
    color: #808080b4;
}
/* End Styling Create post */

/* Start Styling Footer */
.footer-section {
    background-color: white;
    border-radius: 5px;
    margin-top: 50px;
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

ul.footer-list-first {
    font-size: 14px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
    border-bottom: 1px solid grey;
    padding-bottom: 12px;
}

li.first-lis {
    gap: 21px;
}

ul.footer-second-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    font-size: 14px;
}

.delete-btn{
    color: #808080;
    font-size: 21px;
    border: none;
    background-color: white !important;
}

.edit-btn {
    font-size: 19px;
}

.delete-btn:hover, .edit-btn:hover{
    color: var(--blue);
    transform: scale(1.05);
}

button:hover{
    cursor: pointer;
    background-color: rgb(128 128 128 / 9%);
    transform: scale(1.05);
    color:  #3f3f3fad;
}

/* End Styling Footer */

/* Start Styling Profile */
main.profile {
    display: flex;
    height: 100%;
    padding: 0;
}

aside.left {
    display: flex;
    width: 20vw;
    background-color: white;
    height: 100%;
}

.left-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 15px 18px;
    width: 100%;
}

.left-up {
    display: flex;
    flex-direction: column;
}

ul.icons-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 22px;
}

li.left-item {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 18px;
}

.left-icon{
    font-size: 24px;
    color: #0000009e;
}

button.share {
    width: 160px;
    height: 40px;
    margin: 0 auto;
    margin-top: 31px;
    background-color: var(--blue);
    border: none;
    color: white;
    border-radius: 34px;
    font-size: 16px;
}

.left-bottom {
    display: flex;
    gap: 10px;
    align-items: center;
    width: 100%;
    justify-content: center;
    font-weight: 500 !important;
}

img.avatar-left {
    height: 40px;
}

.left-bottom p.username {
    font-weight: 400;
}

/* ************************ */
section.home-page {
    background-color: white;
    width: 55vw;
    padding: 15px 15px;
    overflow:auto;
}

.home {
    display: flex;
    align-items: center;
    gap: 40px;
    font-size: 19px;
    padding-left: 20px;
    font-weight: bold;
}

.home:hover{
    cursor: pointer;
    color: var(--orange)
}

.profile-imgs {
    height: 170px;
    background-color: #ffa5003d;
    margin-top: 20px;
}

img.profile-image {
    margin-top: 45px;
    margin-left: 25px;
    height: 171px;
    border-radius: 51%;
    border: 5px solid white;
}

button.settings {
    font-size: 16px;
    margin: 20px;
    padding: 6px 17px;
    background-color: white;
    border: 2px solid var(--blue);
    border-radius: 25px;
    color: var(--blue);
    font-weight: bold;
}

.profile-info {
    display: flex;
    justify-content: flex-end;
}

.user-data {
    display: flex;
    flex-direction: column;
}

.name-icons {
    display: flex;
    gap: 10px;
    align-items: center;
    font-weight: 300;
    margin-left: 10px;
    font-size: 14px;
}

.follower {
    display: flex;
    font-size: 15px;
    gap: 13px;
    margin-top: 15px;
}

p.name {
    font-weight: bold;
    font-size: 20px;
}

/* **************** */

aside.right {
    width: 25vw;
    background-color: white;
    padding: 10px 15px;
}

.search-right {
    display: flex;
    justify-content: center;
    color: var(--blue);
}

input.search-input-right {
    height: 41px;
    background-color: #b9b4b414;
    width: 98%;
    padding: 10px 15px;
    padding-left: 52px;
    border-radius: 28px;
    border: 1px solid var(--blue);
}

button.btn.search-btn-right {
    background: none;
    border: none;
    position: absolute;
    top: 23px;
    font-size: 16px;
    color: var(--blue);
    right: 300px;
}

.middle-right {
    background-color: #add8e617;
    border-radius: 8px;
    margin-top: 10px;
}

p.headline-middle {
    font-weight: bold;
    padding: 13px 23px;
}

ul.middle-right {
    display: flex;
    background: none;
    flex-direction: column;
    gap: 19px;
    padding-left: 14px;
}

li.right-item {
    display: flex;
    align-items: center;
    gap: 14px;
}

img.item {
    height: 42px;
}

.names {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 13px;
}

p.more-info {
    color: var(--blue);
    padding: 18px 18px 4px;
}

p.item-name {
    font-weight: bold;
    font-size: 15px;
}

button.read {
    background: white;
    border: 1px solid var(--blue);
    padding: 4px 20px;
    border-radius: 25px;
    margin-left: 35px;
    color: var(--blue);
}

.trends {
    background-color: #add8e617;
    border-radius: 9px;
    margin-top: 10px;
    padding: 10px 15px;
}

p.trend {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    font-weight: bold;
}

ul.trends-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 18px;
}

li.trends-item {
    display: flex;
    justify-content: space-between;
}

p.pop {
    font-weight: 300;
    font-size: 15px;
}

p.hash {
    font-weight: bold;
}

.left-icon:hover {
    color: var(--blue);
}

li.left-item:hover {
    color: var(--blue) !important;
    font-weight: bold;
    transform: scale(1.03);
}

li.trends-item:hover {
    transform: scale(1.03);
}
/* End Styling Profile */

.add-comment {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

img.comment-img {
    height: 50px;
    margin: 7px;
}

input.comment-text {
    width: 511px;
    height: 52px;
    margin-right: 16px;
    padding-left: 14px;
    border-radius: 41px;
    border: 1px solid #80808073;
    outline: none;
}

button.add-btn {
    border: none;
    background-color: var(--blue);
    color: white;
    border-radius: 15px;
    padding: 12px 19px;
}

p.comment-username {
    font-weight: bold;
    font-size: 14px;
}

p.comment-content {
    font-size: 16px;
    font-weight: lighter;
}

button#delete-comment {
    font-size: 22px;
    margin-left: 75%;
}