@import url('https://fonts.googleapis.com/css2?family=Cairo&family=IBM+Plex+Sans:wght@500&family=Courgette&family=Poppins:wght@200;300;400&family=Roboto&family=Roboto+Slab&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Poppins', 'Courier New', Courier, monospace;
}

:root{
    --orange: #ff4500;
    --blue: #1484d6;
    --light-blue: #dae0e6;
    --grey: #a6a9aa;
    --dark-grey: #878a8c;
}

body{
    background-color: var(--light-blue);
}
/* Start Styling Header */
nav {
    display: flex;
    padding: 10px;
    align-items: center;
    height: 35px;
    gap: 50px;
    background-color: white;
    position: fixed;
    z-index: 1000;
    width: 100%;
}

.logo-name {
    display: flex;
    align-items: center;
    margin-left: 25px;
    margin-right: 40px;
}

img.logo {
    height: 40px;
    margin-right: 10px;
}

h2.site-name {
    font-size: 19px;
    font-weight: 600;
}

.search-container {
    display: flex;
    align-items: center;
}

button.btn.search-btn {
    position: absolute;
    font-size: 20px;
    color: var(--dark-grey);
    border: none;
    margin-left: 16px;
    background-color: #dfdfdf12;
}

input.search-input {
    padding: 6px 10px 6px 53px;
    font-size: 16px;
    width: 600px;
    background-color: #dfdfdf30;
    border: 1px solid #e3dddd;
    border-radius: 3px;
    margin-top: 10px;
}

input.search-input:focus, input.search-input:hover  {
    background-color: white;
    outline: 1px solid var(--blue);
}

button.btn.search-btn:focus, button.btn.search-btn:hover{
    background-color: white;
}

button.log-in {
    border: 1px solid var(--blue);
    background-color: white;
    color: var(--blue);
    padding: 1px 30px;
    border-radius: 30px;
    font-size: 18px;
}

button.log-in:hover{
    background-color: #f3f3f3c7;
}

button.sign-up {
    border: none;
    background-color: var(--blue);
    color: white;
    padding: 3px 25px;
    border-radius: 30px;
    font-size: 18px;
    margin-left: 13px;
}

.user-profile {
    display: flex;
    align-items: center;
    padding: 6px 14px;
    gap: 6px;
    font-size: 23px;
    color: var(--dark-grey);
}

.user-profile:hover {
    border: 1px solid #8080803d;
    border-radius: 5px;
    background-color: #dfd8d817;
}
/* End Styling Header */

/* Start Styling Trending Section */
section.trending {
    padding: 10px 12%;
}

p.trend-section-title {
    color: #665e5e;
    margin: 10px;
    margin-top: 55px;
}

.trend-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 18px;
}

.trend-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-image: url('https://www.reuters.com/resizer/Mgqret9qfgkZ4psni1pELqHx_IQ=/960x0/filters:quality(80)/cloudfront-us-east-2.images.arcpublishing.com/reuters/TR22RGDOFJLRZJHMHUWCMOPHQU.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 190px;
    position: relative;
    border-radius: 12px;
}

.trend-card:hover{
    cursor: pointer;
}

.trend-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    height: 100%;
    color: white;
    background-color: #80808063;
    padding: 7px;
    font-size: 16px;
}

p.trend-title {
    font-size: 14px;
    font-weight: bold;
}
/* End Styling Trending Section */

/* Start Styling Top Gaming Section */
main {
    display: flex;
    padding: 10px 12%;
}

section.posts {
    width: 70%;
}

section.top {
    width: 35%;
    background-color: white;
    border-radius: 5px;
    margin-top: 39px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.top-container {
    display: flex;
    height: 110px;
    align-items: flex-end;
    background-image: url('https://preview.redd.it/2y2pftyz87981.png?auto=webp&s=8acec587a92c90b11b82551ecbfa8e4eff4d3723');
    width: 100%;
    color: white;
    font-weight: bold;
    font-size: 14px;
    border-radius: 5px 5px 0px 0px;
}

p.top-title {
    margin-left: 20px;
    margin-bottom: 10px;
}

p.communities-title {
    margin-left: 10px;
    margin-bottom: 10px;
}

p.gaming-title {
    margin-bottom: 10px;
    margin-left: 10px;
}

.top-list-container {
    padding: 10px;
    width: 95%;
}

ul.top-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

li.top-list-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.top-list-item-container {
    width: 100%;
    gap: 11px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

p.top-number {
    font-weight: bold;
    margin-left: 5px;
}

i.fa.fa-angle-up.top-icon {
    font-weight: bold;
    font-weight: bolder;
    font-size: 17px;
    color: #75d575;
}

img.top-img {
    height: 40px;
}

p.top-name {
    font-size: 14px;
    font-weight: light;
}

button.join-btn {
    border: none;
    background-color: var(--blue);
    color: white;
    border-radius: 15px;
    padding: 3px 19px;
}

button.view-all {
    width: 100%;
    padding: 4px;
    border: none;
    background-color: var(--blue);
    color: white;
    border-radius: 16px;
    margin: 16px 0px;
    font-size: 16px;
}

ul.top-list-down {
    list-style: none;
    color: var(--blue);
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    font-size: 14px;
}

li.top-list-down-item {
    background-color: #8080801a;
    padding: 7px 9px;
    border-radius: 17px;
}
/* End Styling Top Gaming Section */

/* Start Styling Popular Posts */

section.posts {
    width: 70%;
    margin-right: 35px;
}

p.popular-title {
    margin: 5px 11px 10px;
    color: #665e5e;
    font-size: 17px;
}

.popular-container {
    background-color: white;
    border-radius: 5px;
    padding: 16px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul.popular-list {
    list-style: none;
    display: flex;
    gap: 25px;
}

li.popular-item {
    padding: 5px 9px;
    background-color: #8080801f;
    border-radius: 31px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.right-icons {
    font-size: 20px;
    gap: 9px;
    display: flex;
    color: #665e5e;
    padding: 5px 9px;

}

.right-icons:hover{
    cursor: pointer;
    background-color: #8080801f;
    color: #665e5e; 
    font-weight: bold;
    border-radius: 31px;
}

.customize{
    padding: 5px 9px;
    border-radius: 31px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #665e5e; 
    background-color: #fff; 
    font-weight: bold;
}

.customize:hover{
    cursor: pointer;
    background-color: #8080801f;
    color: #665e5e; 
    font-weight: bold;
    border-radius: 31px;
}

li:hover{
    cursor: pointer;
}

/* End Styling Popular Posts */