@import url('https://fonts.googleapis.com/css2?family=Cairo&family=IBM+Plex+Sans:wght@500&family=Courgette&family=Poppins:wght@200;300;400&family=Roboto&family=Roboto+Slab&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Poppins', 'Courier New', Courier, monospace;
}

:root{
    --orange: #ff4500;
    --blue: #1484d6;
    --light-blue: #dae0e6;
    --grey: #a6a9aa;
    --dark-grey: #878a8c;
}

body{
    background-color: var(--light-blue);
}
/* Start Styling Header */
nav {
    display: flex;
    padding: 10px;
    align-items: center;
    height: 35px;
    gap: 50px;
    background-color: white;
    position: fixed;
    z-index: 1000;
    width: 100%;
}

a{
    text-decoration: none;
}

.logo-name {
    display: flex;
    align-items: center;
    margin-left: 25px;
    margin-right: 40px;
}

img.logo {
    height: 40px;
    margin-right: 10px;
}

h2.site-name {
    font-size: 19px;
    font-weight: 600;
}

.search-container {
    display: flex;
    align-items: center;
}

button.btn.search-btn {
    position: absolute;
    font-size: 20px;
    color: var(--dark-grey);
    border: none;
    margin-left: 16px;
    background-color: #dfdfdf12;
}

input.search-input {
    padding: 6px 10px 6px 53px;
    font-size: 16px;
    width: 600px;
    background-color: #dfdfdf30;
    border: 1px solid #e3dddd;
    border-radius: 3px;
    margin-top: 10px;
}

input.search-input:focus, input.search-input:hover  {
    background-color: white;
    outline: 1px solid var(--blue);
}

button.btn.search-btn:focus, button.btn.search-btn:hover{
    background-color: white;
}

button.log-in {
    border: 1px solid var(--blue);
    background-color: white;
    color: var(--blue);
    padding: 1px 30px;
    border-radius: 30px;
    font-size: 18px;
}

button#log-out {
    border: 1px solid var(--blue);
    background-color: white;
    color: var(--blue);
    padding: 1px 11px;
    border-radius: 30px;
    font-size: 18px;
}

img.profile-img {
    border-radius: 50%;
    height: 45px;
    margin-right: 5px;
}

button.log-in:hover{
    background-color: #f3f3f3c7;
}

button.sign-up {
    border: none;
    background-color: var(--blue);
    color: white;
    padding: 3px 25px;
    border-radius: 30px;
    font-size: 18px;
    margin-left: 13px;
}

.user-profile {
    display: flex;
    align-items: center;
    padding: 6px 14px;
    gap: 6px;
    font-size: 23px;
    color: var(--dark-grey);
}

.user-profile:hover {
    border: 1px solid #8080803d;
    border-radius: 5px;
    background-color: #dfd8d817;
}
/* End Styling Header */

/* Start Styling Trending Section */
section.trending {
    padding: 10px 12%;
}

p.trend-section-title {
    color: #665e5e;
    margin: 10px;
    margin-top: 55px;
}

.trend-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 18px;
}

.trend-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-image: url('https://www.reuters.com/resizer/Mgqret9qfgkZ4psni1pELqHx_IQ=/960x0/filters:quality(80)/cloudfront-us-east-2.images.arcpublishing.com/reuters/TR22RGDOFJLRZJHMHUWCMOPHQU.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 190px;
    position: relative;
    border-radius: 12px;
}

.trend-card:hover{
    cursor: pointer;
}

.trend-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    height: 100%;
    color: white;
    background-color: #80808063;
    padding: 7px;
    font-size: 16px;
}

p.trend-title {
    font-size: 14px;
    font-weight: bold;
}
/* End Styling Trending Section */

/* Start Styling Top Gaming Section */
main {
    display: flex;
    padding: 10px 12%;
}

section.posts {
    width: 70%;
}

section.top {
    width: 35%;
    border-radius: 5px;
    margin-top: 39px;
}

.top-container-first {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: white;
    border-radius: 10px;
}

.top-container {
    display: flex;
    height: 110px;
    align-items: flex-end;
    background-image: url('https://preview.redd.it/2y2pftyz87981.png?auto=webp&s=8acec587a92c90b11b82551ecbfa8e4eff4d3723');
    width: 100%;
    color: white;
    font-weight: bold;
    font-size: 14px;
    border-radius: 5px 5px 0px 0px;
}

p.top-title {
    margin-left: 20px;
    margin-bottom: 10px;
}

p.communities-title {
    margin-left: 10px;
    margin-bottom: 10px;
}

p.gaming-title {
    margin-bottom: 10px;
    margin-left: 10px;
}

.top-list-container {
    padding: 10px;
    width: 95%;
}

ul.top-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

li.top-list-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.top-list-item-container {
    width: 100%;
    gap: 11px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

p.top-number {
    font-weight: bold;
    margin-left: 5px;
}

i.fa.fa-angle-up.top-icon {
    font-weight: bold;
    font-weight: bolder;
    font-size: 17px;
    color: #75d575;
}

img.top-img {
    height: 40px;
}

p.top-name {
    font-size: 14px;
    font-weight: light;
}

button.join-btn {
    border: none;
    background-color: var(--blue);
    color: white;
    border-radius: 15px;
    padding: 3px 19px;
}

button.view-all {
    width: 100%;
    padding: 4px;
    border: none;
    background-color: var(--blue);
    color: white;
    border-radius: 16px;
    margin: 16px 0px;
    font-size: 16px;
}

ul.top-list-down {
    list-style: none;
    color: var(--blue);
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    font-size: 14px;
}

li.top-list-down-item {
    background-color: #8080801a;
    padding: 7px 9px;
    border-radius: 17px;
}
/* End Styling Top Gaming Section */

/* Start Styling Popular Posts */

section.posts {
    width: 70%;
    margin-right: 35px;
}

p.popular-title {
    margin: 5px 11px 10px;
    color: #665e5e;
    font-size: 17px;
}

.popular-container {
    background-color: white;
    border-radius: 5px;
    padding: 16px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul.popular-list {
    list-style: none;
    display: flex;
    gap: 25px;
}

li.popular-item {
    padding: 5px 9px;
    background-color: #8080801f;
    border-radius: 31px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.right-icons {
    font-size: 20px;
    gap: 9px;
    display: flex;
    color: #665e5e;
    padding: 5px 9px;

}

.right-icons:hover{
    cursor: pointer;
    background-color: #8080801f;
    color: #665e5e; 
    font-weight: bold;
    border-radius: 31px;
}

.customize{
    padding: 5px 9px;
    border-radius: 31px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #665e5e; 
    background-color: #fff; 
    font-weight: bold;
}

.customize:hover{
    cursor: pointer;
    background-color: #8080801f;
    color: #665e5e; 
    font-weight: bold;
    border-radius: 31px;
}

li:hover{
    cursor: pointer;
}

/* End Styling Popular Posts */

/* Start Styling Details Container */
.details-container {
    background-color: white;
    margin-top: 45px;
    border-radius: 10px;
    padding: 20px 0px 0px;
}

ul.details-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 26px;
}

li.details-item{
    border-bottom: 1px solid #80808038;
    padding: 4px 22px;
}

i.details-icon{
    font-size: 20px;
    font-weight: bold;
    margin-left: 90px;
    color: #665e5ed5;
    float: right;
}

ul.show-list {
    display: flex;
    flex-wrap: wrap;
    padding: 15px 15px 0;
    list-style: none;
    gap: 12px;
}
.show-container{
    display: none;
}
/* .none{
    display: block;
} */
/* End Styling Details Container */

/* Start Styling Post Container */
.posts-container {
    margin-top: 40px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.post {
    display: flex;
    background-color: white;
    margin-bottom: 30px;
    border: 1px solid #8080806e;
}

.votes-section {
    background-color: #8080801f;
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 25px;
}

i.fa.vote-icon {
    font-size: 20px;
    color: #6260608c;
    padding: 3px;
}

.vote-icon:hover{
    border: 1px solid #80808078;
}

p.votes {
    font-weight: lighter;
    margin: 20px;
}

.post-content {
    display: flex;
    flex-direction: column;
    gap: 14px;
    width: 100%;
}

.user-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
    margin-left: 10px;
}

img.user-avatar {
    height: 37px;
    border-radius: 50%;
}

p.user-name {
    color: #808080ba;
    margin: 0px 20px 0px 13px;
}

ul.li-user-icons {
    list-style: none;
    display: flex;
    gap: 19px;
    margin-left: 145px;
    color: #808080;
    font-size: 20px;
    margin-right: 10px;
}

.user-content {
    padding: 0px 15px;
    font-weight: bold;
}

.post-icons {
    padding: 10px 0px 12px 14px;
}

ul.post-icons-list {
    display: flex;
    list-style: none;
    gap: 26px;
    align-items: center;
    padding: 0px 10px 0px 0px;
    color: #808080;
}


/* End Styling Post Container */

/* Start Styling Footer */
.footer-section {
    background-color: white;
    border-radius: 5px;
    margin-top: 50px;
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

ul.footer-list-first {
    font-size: 14px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
    border-bottom: 1px solid grey;
    padding-bottom: 12px;
}

li.first-lis {
    gap: 21px;
}

ul.footer-second-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    font-size: 14px;
}
/* End Styling Footer */

/* Start Styling Create post */
.create-post {
    background-color: white;
    margin-top: 30px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border: 1px solid #80808075;
    justify-content: flex-end;
}

img.create-img {
    height: 50px;
}

input.post-text {
    width: 437px;
    height: 47px;
    padding-left: 20px;
}

input.post-text:focus{
    outline: 1px solid var(--blue);
    border: none;
}

i.create-icon {
    font-size: 22px !important;
    color: #808080b4;
}
/* End Styling Create post */

/* Start Styling Footer */
.footer-section {
    background-color: white;
    border-radius: 5px;
    margin-top: 50px;
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

ul.footer-list-first {
    font-size: 14px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
    border-bottom: 1px solid grey;
    padding-bottom: 12px;
}

li.first-lis {
    gap: 21px;
}

ul.footer-second-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    font-size: 14px;
}

.delete-btn{
    color: #808080;
    font-size: 21px;
    border: none;
    background-color: white;
}
/* End Styling Footer */